@import url(./reset.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */
img {

}
body {
}
.header {
    width: 1250px;
    position: relative; height: 80px;
    margin: 0 auto;
}
.header>p {
    position: absolute;
    top: 30px; left: 34px;
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #50a2d8;
}
.menu_btn {
    position: absolute;
    top: 25px; left: 0;
    font-size: 26px;
    color: #50a2d8;
}
.menu_btn img {
    width: 100%;
}
.logo {
    line-height: 71px;
    width: 158px;
    margin: 0 auto;
}
.logo img {
    vertical-align: middle;
    text-align: center;
}
.right {
    font-size: 0;
    overflow: hidden;
    position: absolute;
    top: 20px;
    right: 11px;
}
.right {
}
.right i {
    margin-left: 40px;
    font-size: 24px;
    display: inline-block;
}
.right i:first-child {
    transform: translateX(-24px);
}
.right i:nth-child(2),
.right i:nth-child(3),
.right_text {
    color: #50a2d8;
}
.right p {
    font-size: 11px;
}
.right_text {
    position: absolute;
    right: 0; top: 52px;
    font-size: 0;
    color: #50a2d8;
}
.right_text span {
    letter-spacing: -0.8px;
    font-family: 'Noto Sans KR', sans-serif;
    display: inline-block;
    font-size: 14px;
    margin-left: 20px;
}
.right>div img {
    width: 100%;
}
.right_text span:first-child {
    color: black;
}
.visual_main {
    position: relative;
}
.visual_img {
    background-image: url(../images/visual_img01.jpg);
    background-repeat: no-repeat;
    background-position: 70% 0;
    height: 430px;
}
.visual_indicator {
    position: absolute;
    bottom: 0; right: 326px;
    width: 1250px; height: 64px;
    margin: 0 auto;
    overflow: hidden;
}
.visual_indicator>div {
    position: relative;
    float: left;
    width: 20%;
    line-height: 64px;
    text-align: center;
    color: #777777;
    font-weight: 900;
    letter-spacing: -1px;
    font-size: 15px;
    background-color: rgb(0, 0, 0, 0.4);
}
.visual_indicator>div:first-child {
}
.visual_indicator>div:first-child p:first-child {
    color: #f8fafc;
    opacity: 0.9;
}
.visual_indicator>div:first-child p:nth-child(2) {
    position: absolute;
    top: 0; left: 0;
    width: 10%;  height: 64px;
    background-color: white;
    opacity: 0.3;
}
.visual_indicator>div:first-child div:last-child {
    position: absolute;
    left: 0; bottom: 0;
    width: 100%; height: 4px;
    background-color: rgba(255, 0, 0, 0.5);
}
.container {
    position: relative;
    width: 1250px; 
    margin: 0 auto;
}
.container::after {
    content: "\f054";
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    position: absolute;
    top: 40%;
    right: -105px;
    color: #1e2023;
    font-size: 80px;
}
.container::before {
    content: "\f053";
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    position: absolute;
    top: 40%;
    left: -105px;
    color: #1e2023;
    font-size: 80px;
}
.box_icons {
    font-size: 0;
    position: absolute;
    font-size: 0;
    position: absolute;
    top: 79px;
    right: 630px;
}
.box_icons i {
    border: 1px solid #8f8f8f;
    margin-left: 5px;
    font-size: 18px;
    padding: 6px 11px;
    color: #8f8f8f;
}
.container .top {
    overflow: hidden;
}
.container .top>h2 {
    margin-top: 60px;
    font-size: 22px;
    letter-spacing: -1.8px;
    font-weight: 700;
    font-family: 'Noto Sans KR', sans-serif;
    color: #1e2023;

}
.container .top>p {
    margin: 15px 0;
    font-size: 14px;
    font-family: 'netmarble';
    font-weight: 700;
    color: rgb(70, 155, 204);
    letter-spacing: -0.8px;

}
.container .one {
    float: left;
    margin-right: 10px;
    background-color: #171717;
    padding: 0 5px;
    border-radius: 25px;
}
.container .one div {
    width: 100%; height: 240px;
}
.container .one p:first-child {
    text-align: center;
    background-color: #171717;
    height: 30px; line-height: 30px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -1px;
    color: #ccc;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.container .one p.one_bottom {
    height: 70px; line-height: 70px;
    background-color: #171717;
    font-size: 15px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
    color: #ccc;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    
}
.container .one01 div {
    background-image: url(../images/mobile_game_banner011.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: 0% 0;
}
.container .one02 div {
    background-image: url(../images/mobile_game_banner022.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: 0% 0;
}
.container .one03 div {
    background-image: url(../images/mobile_game_banner033.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 0;
}
/* .container .one04 div {
    background-image: url(../images/mobile_game_banner04.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} */

.one01 {    
    width: 200px;
}
.one02 {    
    width: 200px;
}
.one03 {    
    width: 200px;
}
.one05 {    
    width: 305px; height: 340px;
    background-color: black;
    background-image: url(../images/K-113.bmp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    margin-right: 10px;
}
.one06 {
    width: 305px; height: 340px;
    margin-right: 0 !important;
}
.one06 div:nth-child(1){
    margin-top: 70px;
    display: flex;
    height: 60px;
    background-color: #50a2d8;
    padding: 10px;
    margin-bottom: 10px;
}
.one06 div:nth-child(2) {
    height: 60px;
    background-color: #50a2d8;
    padding: 10px;
    margin-bottom: 10px;
}
.one06 div:nth-child(3) {
    height: 60px;
    padding: 10px;
    margin-bottom: 10px;
    color: #8f8f8f;
    border: 1px solid #8f8f8f
}
.one06 div:nth-child(4) {
    padding: 20px;
    overflow: hidden;
}
.one06 div:nth-child(4)>p {
    float: left;
    font-size: 14px;
    letter-spacing: -1px;
    color: #8f8f8f;
}
.one06 div:nth-child(4)>p:first-child {
    margin-left: 69px;
    margin-right: 15px;
}
.one06 div:nth-child(3) p:nth-child(1) {
    color: #8f8f8f;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    letter-spacing: -1px;
}
.one06 div:nth-child(2) p:nth-child(1) {
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    letter-spacing: -1px;
}
.one06 div:nth-child(1) p:nth-child(1) {
    margin-left: 46px;
    font-size: 24px;
    font-family: 'netmarble';
    font-weight: 700;
    color: #fff;
    margin-top: 7px;
}
.one06 div:nth-child(1) p:nth-child(2) {
    margin-left: 10px;
    font-size: 18px;
    letter-spacing: -1px;
    font-weight: 700;
    margin-top: 10px;
    color: #fff;
}
/* .login {
    float: left;
    width: 505px; height: 320px;
    background-color: red;
}
 */


.mobile_game {
    position: relative;
}
.mobile_game h2,
.pc_game h2 {
    margin-top: 10px;
    margin: 70px 0 20px;
    font-size: 25px;
    font-family: "Noto Sans KR";
    font-weight: 900;
    letter-spacing: -0.8px;
    color: #2f2f2f;
}
.mobile_game::after {
    content: "전체보기";
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 14px;
    letter-spacing: -1px;
    color: rgb(212, 8, 8);
    font-weight: 700;
    transform: translateX(4px);
}
.mobile_game::before {
    content: "\f061";
    position: absolute;
    top: 10px;
    right: 0;
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    font-size: 15px;
    color: rgb(212, 8, 8);
    transform: translateX(4px);
}
.mobile { 
    margin-top: 20px;
    /* overflow: hidden; */
}
.mobile2 { 
    margin-top: 10px;
    overflow: hidden;
}
.two {
    float: left; 
    width: 305px; 
    margin-right: 10px;
    border-radius: 10px;
}
.two_bottom {
    height: 70px;
    overflow: hidden;
    padding: 10px 0;
}
.two_bottom>div {
    float: left;
}
.two_top {
    border-radius: 10px;
}
.tb_left1 {
    width: 50px; height: 50px;
    background-image: url(../images/mobile_game_icon01.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.tb_left2 {
    width: 50px; height: 50px;
    background-image: url(../images/mobile_game_icon02.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.tb_left3 {
    width: 50px; height: 50px;
    background-image: url(../images/mobile_game_icon03.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.tb_left4 {
    width: 50px; height: 50px;
    background-image: url(../images/mobile_game_icon04.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.tb_left5 {
    width: 50px; height: 50px;
    background-image: url(../images/mobile_game_icon05.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.tb_left6 {
    width: 50px; height: 50px;
    background-image: url(../images/mobile_game_icon06.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.tb_left7 {
    width: 50px; height: 50px;
    background-image: url(../images/mobile_game_icon07.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.tb_left8 {
    width: 50px; height: 50px;
    background-image: url(../images/mobile_game_icon08.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.tb_right1,
.tb_right2,
.tb_right3,
.tb_right4,
.tb_right5,
.tb_right6,
.tb_right7,
.tb_right8 {
    margin-top: 8px;
    margin-left: 10px;
}
.tb_right1>p:nth-child(1),
.tb_right2>p:nth-child(1),
.tb_right3>p:nth-child(1),
.tb_right4>p:nth-child(1),
.tb_right5>p:nth-child(1),
.tb_right6>p:nth-child(1),
.tb_right7>p:nth-child(1),
.tb_right8>p:nth-child(1) {
    letter-spacing: -1px;
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 700;
    font-family: 'Noto Sans KR', sans-serif;
    color: #1e2013;
}
.tb_right1>p:nth-child(2),
.tb_right2>p:nth-child(2),
.tb_right3>p:nth-child(2),
.tb_right4>p:nth-child(2),
.tb_right5>p:nth-child(2),
.tb_right6>p:nth-child(2),
.tb_right7>p:nth-child(2),
.tb_right8>p:nth-child(2) {
    letter-spacing: -1px;
    color: #8f8f8f;
    font-size: 14px;
}

.container .two1 {
    position: relative;
    background-image: url(../images/mobile_moblile_game_bannerr.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% -12px;
    height: 350px;
    transform: translatey(-5px);
}
.container .two1::after {
    content: "";
    position: absolute;
    width: 100%; height: 100%;
    box-shadow: 0px 7px 20px #464646;
    border-radius: 15px;
    opacity: 0.7;
}
.container .two2 {
    background-image: url(../images/mobile_game_banner022.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% -12px;
    height: 350px;
}
.container .two3 {
    background-image: url(../images/mobile_game_banner033.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% -12px;
    height: 350px;
}
.container .two4 {
    background-image: url(../images/mobile_game_banner044.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% -12px;
    height: 350px;
}
.container .two5 {
    background-image: url(../images/mobile_game_banner055.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% -12px;
    height: 350px;
}
.container .two6 {
    background-image: url(../images/mobile_game_banner066.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% -12px;
    height: 350px;
}
.container .two7 {
    background-image: url(../images/mobile_game_banner077.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% -12px;
    height: 350px;
}
.container .two8 {
    background-image: url(../images/mobile_game_banner088.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% -12px;
    margin-right: 0;
    height: 350px;
}
.t_last {
    margin-right: 0;
}
.top {
    overflow: hidden;
}
.bottom {
    overflow: hidden;
}
.top>div {
    float: left;
}
.bottom>div {
    float: left;
}
.three {
    overflow: hidden;
    width: 620px; height: 160px;
    margin-right: 10px;
}
.three_left {
    width: 310px;
    float: left;
    
}
.three_right {
    width: 310px;
    float: left;
    background-color: black;
    height: 150px;
    position: relative;
}
.three_right p:nth-child(1) {
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 18px;
    color: #ccc;
    letter-spacing: -0.8px;
    font-weight: 700;
    font-family: 'Noto Sans KR', sans-serif;
}
.three_right p:nth-child(2) {
    font-size: 16px;
    margin-left: 30px;
    color: #ccc;
}
.three_left1 {
    height: 150px;
    background-image: url(../images/pcpc_banner.jpg);
    background-repeat: no-repeat;
    background-size: 110%;
    background-color: black;
    background-position: 66% -37px;
    
}
.three_left2 {
    height: 150px;
    background-image: url(../images/pcpc_banner2.jpg);
    background-repeat: no-repeat;
    background-size: 110%;
    background-color: black;
    background-position: 66% -37px;
}
.bottom {
 
}
.three_left3 {
    height: 150px;
    background-image: url(../images/pcpc_banner3.jpg);
    background-repeat: no-repeat;
    background-color: black;
    background-size: 110%;
    background-color: black;
    background-position: 66% -37px;
}
.three_left4 {
    height: 150px;
    background-image: url(../images/pcpc_banner4.jpg);
    background-repeat: no-repeat;
    background-size: 110%;
    background-color: black;
    background-position: 66% -37px;
}

.three_right::after {
    content: "";
    position: absolute;
    background-image: url(../각종아이콘/pcpcpc.png);
    bottom: 10px;
    right: 13px;
    width: 28px;
    height: 22px;
    background-repeat: no-repeat;
    background-size: cover;
}
.three_last {
    margin-right: 0;
}
.wing {
    position: fixed;
    top: 0; left: 0;
    z-index: 1;
    width: 350px; height: 100vh;
    background-color: #fff;
    opacity: 0.5;
}
.bottom_banner p{
    margin-top: 10px;
    overflow: hidden;
    color: #50a2d8 !important;
}
.bottom_left {
    float: left;
    width: 830px; height: 400px;
    background-image: url(../images/bottom_banner_01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 48% -75px;
}
.bottom_right {
    float: left;
    width: 420px; height: 400px;
    background-color: #1e2023;
    padding: 30px;
}
.bottom_right h2 {
    color: #fafcfc;
    margin: 0;
    font-size: 20px;
    margin-bottom: 20px;
}

.bottom_right .first,
.bottom_right .twos,
.bottom_right .threes,
.bottom_right .four,
.bottom_right .five,
.bottom_right .six,
.bottom_right .seven,
.bottom_right .eight {
    font-size: 0;
    text-align: center;
}

.bottom_right .first p,
.bottom_right .first p,
.bottom_right .twos p,
.bottom_right .threes p,
.bottom_right .four p,
.bottom_right .five p,
.bottom_right .six p,
.bottom_right .seven p,
.bottom_right .eight p {
    margin-top: 20px;
    float: left;
    width: 33.3332%;
    font-size: 13px;
    color: #ccc;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -0.2px;
}
.caution {
    margin-top: 20px;
    font-size: 14px;
    color: #8f8f8f;
    letter-spacing: -0.5px;
}
.footer_ex {
    margin-top: 100px; 
    background-color: #171717;
}
.footer {
    width: 1250px;
    margin: 0 auto ;
    padding: 20px 0 40px;
}
.logonfamily {
    overflow: hidden;
    margin-bottom: 30px;
    border-bottom: 1px solid #232323;
}
.logonfamily h2 {
    float: left;
    color: white;
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 10px;
    font-family: 'netmarble';
}
.logonfamily>p {
    float: right;
    width: 180px;
    line-height: 30px;
    height: 30px;
    background-color: black;
    margin-bottom: 10px;
    color: #ccc;
    font-size: 14px;
    letter-spacing: -0.8px;
    padding-left: 10px;
}
footer>.footerp {
    font-size: 12px;
    color: #ccc;
    margin-bottom: 10px;
}
footer>.footerp:nth-child(7) {
    font-size: 13px;
}
footer>.footerp span {
    font-weight: 700;
}
footer>.footerp:last-child {
    margin-bottom: 0;
}
footer>.footerp:nth-child(6){
    margin: 15px 0 30px;
}
