/********************** settings *******************/
@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

img {
  width: 100%;
  vertical-align: bottom;
}


/********************** rem size standard *******************/
html {
  font-size: 10px;
}


/********************** root *******************/
:root {
  /* color */
  --point-color-white: #fff;
  --point-color-light-black: #1e2023;

  --color-light-gray: #f8fafc;
  --color-gray: #ccc;
  --color-dark-gray: #8f8f8f;
  --color-black: #171717;

  /* font-family */
  --font-Noto-Sans: 'Noto Sans KR', sans-serif;
  --font-netmable: 'netmarble';

  /* font-size */
  --font-size-small-11: 1.1rem;
  --font-size-small-up-12: 1.2rem;
  --font-size-medium-14: 1.4rem;
  --font-size-medium-up-15: 1.5rem;
  --font-size-large-18: 1.8rem;
  --font-size-large-up-20: 2rem;
  --font-size-x-large-24: 2.4rem;
  --font-size-x-large-up-28: 2.8rem;

  /* padding */
  --padding-10: 10px;
  --padding-20: 20px;

  /* gap */
  --gap-small-5: 5px;
  --gap-small-up-10: 10px;
  --gap-medium-15: 15px;
  --gap-medium-up-15: 15px;
  --gap-large-20: 20px;
  --gap-large-up-25: 25px;
  --gap-x-large-35: 35px;
  --gap-x-large-up-45: 45px;
}


/********************** header *******************/
.header {
  height: 40px;
}

.header .menu_btn_on {
  position: absolute;
  top: 12px;
  left: 10px;
  font-size: var(--font-size-large-18);
  cursor: pointer;
}

.header .title_logo {
  width: 110px;
  margin: 0 auto;
  padding-top: var(--padding-10);
}

.header .gnb {
  position: absolute;
  top: 10px;
  right: 10px;
}

.header .gnb>div {
  float: left;
}

.header .gnb>div a:nth-child(2) {
  display: none;
}

.header .gnb a {
  font-size: var(--font-size-large-18);
}

.header .gnb .sign_in {
  margin-right: var(--gap-medium-15);
}

#menu_chk {
  display: none;
}

#menu_chk:checked~.main_menu_list_ex {
  left: 0;
}

#menu_chk:checked~.main_menu_list_ex .main_menu_list {
  left: 0;
}

/********************** header main_menu_list *******************/
.header .main_menu_list_ex {
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

}

.header .main_menu_list_ex .main_menu_list {
  position: fixed;
  text-align: center;
  top: 0;
  left: -350px;
  width: 300px;
  height: 100vh;
  transition: all 0.2s;
  background-color: var(--point-color-white)  ;
  box-shadow: -2px -4px 20px 0px;
}

.header .main_menu_list_ex .main_menu_list .menu_btn_off {
  display: block;
  position: absolute;
  top: 10px; left: 10px;
  width: 20px; height: 20px;
  background: url(../images/xicon.png)no-repeat;
  background-size: contain;
  cursor: pointer;
}

.header .main_menu_list_ex .main_menu_list .menu_list_logo {
  position: relative;
  display: inline-block;
  margin-top: var(--gap-x-large-up-45);
  font-size: var(--font-size-x-large-24);
  font-family: var(--font-netmable);
  font-weight: 700;
}

/********************** contents *******************/
.contents {
  position: relative;
  padding: 0 var(--padding-10);
}

.contents>input {
  display: none;
}

/********************** contents game_list_label *******************/
.contents .game_list_label {
  display: none;
}

/********************** contents search_wrapper *******************/
.contents .search_wrapper {
  position: relative;
  width: 50%;
  margin: var(--gap-small-up-10) auto 0;
  border-bottom: 2px solid var(--color-black);
}

.contents .search_wrapper #search {
  display: block;
  width: 90%;
  outline: none;
  border: none;
  font-size: var(--font-size-small-up-12);
  padding: 4px 10px;
  letter-spacing: -0.8px;
  background-color: transparent;
}

::-webkit-search-cancel-button {
  display: none;

}

.contents .search_wrapper .search_icon {
  position: absolute;
  top: 6px;
  right: 5px;
}

.contents .search_wrapper .search_icon::after {
  content: "\f002";
  font-family: "Font Awesome 5 free";
  font-weight: 900;
  font-size: var(--font-size-small-up-12);
}

/********************** contents game_container *******************/
.contents .game_container {
  display: flex;
  flex-wrap: wrap;
}

/********************** contetns gamecontainer box *******************/
.contents .box {
  position: relative;
  margin-top: var(--gap-small-up-10);
  transition: all 0.3s;
  cursor: pointer;
}
.contents .box:hover {
  transform: translateY(-7px);
  box-shadow: 0px 11px 20px 0px;
  border-radius: 10px;
}

/* .contents .box10,
.contents .box11,
.contents .box12,
.contents .box13,
.contents .box14,
.contents .box15,
.contents .box16,
.contents .box17,
.contents .box18,
.contents .box19,
.contents .box20,
.contents .box21,
.contents .box22,
.contents .box23,
.contents .box24,
.contents .box25,
.contents .box26 {
  display: none;
} */


/********************** contents box box_top *******************/
.contents .box>div:first-child img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


/********************** contents box box_bottom *******************/
.contents .box .box_bottom {
  position: relative;
  overflow: hidden;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--color-light-gray);
}

.contents .box .box_bottom::before {
  content: "";
  position: absolute;
  background: url(../images/googleplay_store.png) no-repeat;
  bottom: 8px;
  right: 35px;
  width: 17px;
  height: 17px;
  background-size: contain;
}

.contents .box .box_bottom::after {
  content: "";
  position: absolute;
  background: url(../images/apple_store.png) no-repeat;
  bottom: 5px;
  right: 5px;
  width: 25px;
  height: 25px;
  background-size: contain;
}

/********************** contents box box_bottom left_logo*******************/
.contents .box .box_bottom .left_logo {
  float: left;
  margin: var(--gap-small-up-10);
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.contents .box .box_bottom .left_logo01 {
  background: url(../images/sub_img/mobile_game_icon01.jpg) no-repeat;
  background-size: contain;
}

.contents .box .box_bottom .left_logo02 {
  background: url(../images/sub_img/mobile_game_icon02.jpg) no-repeat;
  background-size: contain;
}

.contents .box .box_bottom .left_logo03 {
  background: url(../images/sub_img/mobile_game_icon03.jpg) no-repeat;
  background-size: contain;
}

.contents .box .box_bottom .left_logo04 {
  background: url(../images/sub_img/mobile_game_icon04.jpg) no-repeat;
  background-size: contain;
}

.contents .box .box_bottom .left_logo05 {
  background: url(../images/sub_img/mobile_game_icon05.jpg) no-repeat;
  background-size: contain;
}

.contents .box .box_bottom .left_logo06 {
  background: url(../images/sub_img/mobile_game_icon06.jpg) no-repeat;
  background-size: contain;
}

.contents .box .box_bottom .left_logo07 {
  background: url(../images/sub_img/mobile_game_icon07.jpg) no-repeat;
  background-size: contain;
}

.contents .box .box_bottom .left_logo08 {
  background: url(../images/sub_img/mobile_game_icon08.png) no-repeat;
  background-size: contain;
}

.contents .box .box_bottom .left_logo09 {
  background: url(../images/sub_img/mobile_game_icon09.png) no-repeat;
  background-size: contain;
}

.contents .box .box_bottom .left_logo10 {
  background: url(../images/sub_img/mobile_game_icon10.png) no-repeat;
  background-size: contain;
}

.contents .box .box_bottom .left_logo11 {
  background: url(../images/sub_img/mobile_game_icon11.png) no-repeat;
  background-size: contain;
}

.contents .box .box_bottom .left_logo12 {
  background: url(../images/sub_img/mobile_game_icon12.jpg) no-repeat;
  background-size: contain;
}

.contents .box .box_bottom .left_logo13 {
  background: url(../images/sub_img/mobile_game_icon13.png) no-repeat;
  background-size: contain;
}

.contents .box .box_bottom .left_logo14 {
  background: url(../images/sub_img/mobile_game_icon14.png) no-repeat;
  background-size: contain;
}

.contents .box .box_bottom .left_logo15 {
  background: url(../images/sub_img/mobile_game_icon15.jpg) no-repeat;
  background-size: contain;
}

.contents .box .box_bottom .left_logo16 {
  background: url(../images/sub_img/mobile_game_icon16.png) no-repeat;
  background-size: contain;
}

.contents .box .box_bottom .left_logo17 {
  background: url(../images/sub_img/mobile_game_icon17.png) no-repeat;
  background-size: contain;
}

.contents .box .box_bottom .left_logo18 {
  background: url(../images/sub_img/mobile_game_icon18.jpg) no-repeat;
  background-size: contain;
}

.contents .box .box_bottom .left_logo19 {
  background: url(../images/sub_img/mobile_game_icon19.png) no-repeat;
  background-size: contain;
}

.contents .box .box_bottom .left_logo20 {
  background: url(../images/sub_img/mobile_game_icon20.png) no-repeat;
  background-size: contain;
}

.contents .box .box_bottom .left_logo21 {
  background: url(../images/sub_img/mobile_game_icon21.png) no-repeat;
  background-size: contain;
}

.contents .box .box_bottom .left_logo22 {
  background: url(../images/sub_img/mobile_game_icon22.png) no-repeat;
  background-size: contain;
}

.contents .box .box_bottom .left_logo23 {
  background: url(../images/sub_img/mobile_game_icon23.jpg) no-repeat;
  background-size: contain;
}

.contents .box .box_bottom .left_logo24 {
  background: url(../images/sub_img/mobile_game_icon24.jpg) no-repeat;
  background-size: contain;
}

.contents .box .box_bottom .left_logo25 {
  background: url(../images/sub_img/mobile_game_icon25.png) no-repeat;
  background-size: contain;
}

.contents .box .box_bottom .left_logo26 {
  background: url(../images/sub_img/mobile_game_icon26.png) no-repeat;
  background-size: contain;
}


/********************** contents box box_bottom right_text*******************/
.contents .box .box_bottom .right_text {
  float: left;
  margin-top: var(--gap-medium-15);
}

.contents .box .box_bottom .right_text p {
  font-size: var(--font-size-medium-14);
  color: var(--point-color-light-black);
  font-weight: 700;
  font-family: 'Noto Sans KR', sans-serif;
  letter-spacing: -1px;
}

.contents .box .box_bottom .right_text p:nth-child(1) {
  margin-bottom: var(--gap-small-5);
}

.contents .box .box_bottom .right_text p:nth-child(2) {
  color: var(--color-dark-gray);
}

.contents .box .box_bottom .right_text>p>span {
  margin-left: var(--gap-small-5);
  padding: 0 4px;
  font-size: var(--font-size-small-11);
  font-family: var(--font-Noto-Sans);
  letter-spacing: 0.2px;
}

.contents .box .box_bottom .right_text>p>.hot {
  color: rgb(255, 72, 72);
  background-color: #fff7f7;
  border: 1px solid rgb(255, 198, 198);
}

.contents .box .box_bottom .right_text>p>.new {
  color: rgb(63 112 202);
  background-color: #e1f2f8;
  border: 1px solid rgb(133, 175, 238);
}


/********************** more_btn  *******************/
.contents .more_btn_design {
  display: block;
  text-align: center;
  padding: 2px 0;
  margin: var(--gap-small-up-10) var(--gap-small-up-10) 0;
  background-color: var(--color-light-gray);
  border: 1px solid var(--color-gray);
  color: var(--point-color-light-black);
  font-size: var(--font-size-small-up-12);
  font-weight: 700;
  font-family: 'Noto Sans KR', sans-serif;
  letter-spacing: -1px;
  cursor: pointer;
}

/********************** footer_ex  *******************/
.footer_ex {
  margin-top: var(--gap-small-up-10);
  background-color: var(--color-black);
}

/********************** footer  *******************/
.footer {
  padding: var(--padding-10);
}

.footer .footer_logo {
  display: block;
  color: var(--point-color-white);
  font-family: 'netmarble';
  font-weight: 700;
  font-size: var(--font-size-x-large-24);
  margin-bottom: var(--gap-small-up-10);
  padding-bottom: var(--padding-10);
  border-bottom: 1px solid #232323;
}

.footer select {
  display: none;
}

.footer p,
.footer ul {
  text-align: center;
  font-size: var(--font-size-small-11);
  color: var(--color-gray);
  margin-bottom: var(--gap-small-5);
  letter-spacing: -0.5px;
}

.footer>p:last-child {
  margin-bottom: 0;
}

.footer .hide {
  display: none;
}


/********************** media_query 460 *******************/
@media all and (min-width: 440px) {

  /********************** contents box box_bottom *******************/
  .contents .box .box_bottom::before {
    bottom: 7px;
    right: 30px;
    width: 14px;
    height: 14px;
  }

  .contents .box .box_bottom::after {
    width: 21px;
    height: 21px;
  }

  /********************** contents box box_bottom left_logo*******************/
  .contents .box .box_bottom .left_logo {
    width: 40px;
    height: 40px;
    border-radius: 5px;
  }

  /********************** contents box box_bottom right_text*******************/
  .contents .box .box_bottom .right_text {
    margin-top: var(--gap-medium-15);
  }

  .contents .box .box_bottom .right_text p {
    font-size: var(--font-size-small-up-12);
  }

  /********************** contetns gamecontainer box *******************/
  .contents .box {
    width: calc(100% - 2.5px - 50%);
    margin-right: var(--gap-small-5);
  }

  .contents .box:nth-child(2n) {
    margin-right: 0;
  }
}


/********************** media_query 600 *******************/
@media all and (min-width: 600px) {

  /********************** header *******************/
  .header {
    height: 60px;
  }

  .header .menu_btn_on {
    top: 18px;
    font-size: var(--font-size-x-large-24);
  }

  .header .title_logo {
    width: 150px;
    padding-top: 14px;
  }

  .header .gnb {
    top: 18px;
    right: 10px;
  }

  .header .gnb a {
    font-size: var(--font-size-large-up-20);
  }

  .header .gnb .sign_in {
    margin-right: 15px;
  }

  /********************** contents game_list_label *******************/
  .contents .game_list_label {
    display: block;
    text-align: center;
    margin: var(--gap-large-20) 0;
    font-size: 0;
  }

  .contents .game_list_label label {
    display: inline-block;
    /*     color: var(--color-light-gray); */
    font-size: 1.3rem;
    font-family: var(--font-Noto-Sans);
    padding: 5px 20px;
    margin-right: var(--gap-small-up-10);
    margin-bottom: var(--gap-small-5);
    /*     background-color: var(--point-color-light-black); */
    border-radius: 20px;
    letter-spacing: -1px;
  }

  .contents .game_list_label .list_btn_design01 {
    color: var(--color-light-gray);
    background-color: var(--point-color-light-black);
    font-weight: 700;
  }

  .contents .game_list_label .list_btn_design07 {
    margin-right: 0;
  }


  /********************** contents search_wrapper *******************/
  .contents .search_wrapper {
    margin-top: 0;
  }

  .contents .search_wrapper .search_icon {
    top: 2px;
  }

  .contents .search_wrapper .search_icon::after {
    content: "\f002";
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    font-size: var(--font-size-medium-14);
  }

  /********************** contetns gamecontainer box *******************/
  .contents .box {
    width: calc((100% - 10px) / 3);
    margin-right: var(--gap-small-5);
  }

  .contents .box:nth-child(2n) {
    margin-right: var(--gap-small-5);
  }

  .contents .box:nth-child(3n) {
    margin-right: 0;
  }

  #list_btn02:checked~.game_container .box01,
  #list_btn02:checked~.game_container .box03,
  #list_btn02:checked~.game_container .box11,
  #list_btn02:checked~.game_container .box15,
  #list_btn02:checked~.game_container .box19,
  #list_btn02:checked~.game_container .box20,
  #list_btn02:checked~.game_container .box24,
  #list_btn02:checked~.game_container .box25,
  #list_btn02:checked~.game_container .box26 {
    display: none;
  }

  #list_btn02:checked~.game_container .box05,
  #list_btn02:checked~.game_container .box08,
  #list_btn02:checked~.game_container .box12,
  #list_btn02:checked~.game_container .box16 {
    margin-right: 0;
  }

  #list_btn02:checked~.game_container .box06,
  #list_btn02:checked~.game_container .box09,
  #list_btn02:checked~.game_container .box18 {
    margin-right: var(--gap-small-5);
  }

  #list_btn02:checked~.game_list_label label,
  #list_btn03:checked~.game_list_label label,
  #list_btn04:checked~.game_list_label label,
  #list_btn05:checked~.game_list_label label,
  #list_btn06:checked~.game_list_label label,
  #list_btn07:checked~.game_list_label label {
    color: #000;
    background-color: #fff;
    font-weight: 400;
  }

  #list_btn02:checked~.game_list_label .list_btn_design02,
  #list_btn03:checked~.game_list_label .list_btn_design03,
  #list_btn04:checked~.game_list_label .list_btn_design04,
  #list_btn05:checked~.game_list_label .list_btn_design05,
  #list_btn06:checked~.game_list_label .list_btn_design06,
  #list_btn07:checked~.game_list_label .list_btn_design07 {
    color: var(--color-light-gray);
    background-color: var(--point-color-light-black);
    font-weight: 700;
    transition: all 0.3s;
  }


  #list_btn03:checked~.game_container .box,
  #list_btn04:checked~.game_container .box,
  #list_btn05:checked~.game_container .box,
  #list_btn06:checked~.game_container .box,
  #list_btn07:checked~.game_container .box {
    display: none;
  }

  #list_btn03:checked~.game_container .box18,
  #list_btn03:checked~.game_container .box24 {
    display: block;
  }

  #list_btn03:checked~.game_container .box18 {
    margin-right: var(--gap-small-5);
  }

  #list_btn04:checked~.game_container .box02,
  #list_btn04:checked~.game_container .box08,
  #list_btn04:checked~.game_container .box21,
  #list_btn04:checked~.game_container .box23 {
    display: block;
  }

  #list_btn05:checked~.game_container .box01,
  #list_btn05:checked~.game_container .box19 {
    display: block;
  }

  #list_btn06:checked~.game_container .box03,
  #list_btn06:checked~.game_container .box11,
  #list_btn06:checked~.game_container .box15,
  #list_btn06:checked~.game_container .box16 {
    display: block;
  }

  #list_btn06:checked~.game_container .box03 {
    margin-right: var(--gap-small-5);
  }

  #list_btn06:checked~.game_container .box15 {
    margin-right: 0;
  }

  #list_btn07:checked~.game_container .box22,
  #list_btn07:checked~.game_container .box25,
  #list_btn07:checked~.game_container .box26 {
    display: block;
  }

  #list_btn07:checked~.game_container .box26 {
    margin-right: 0;
  }


  /********************** more_btn  *******************/
  .contents .mor_chk_list {
    display: none;
  }

  /********************** footer *******************/

  .footer .footer_logo {
    font-size: var(--font-size-x-large-up-28);
  }

  .footer p,
  .footer ul {
    text-align: left;
    font-size: var(--font-size-small-11);
    margin-bottom: 6px;
  }

  .footer .hide {
    display: block;
  }

  .footer>p:last-child {
    display: none;
  }

  .footer p.hide_07,
  .footer ul.hide_last {
    margin-bottom: 0;
  }

  .footer ul.hide {
    overflow: hidden;
  }

  .footer ul.hide>li {
    float: left;
    margin-right: var(--gap-small-5);
  }

  .footer ul.hide>li>a {
    display: block;
  }

  .footer ul.hide_last span {
    color: var(--color-light-gray);
    font-weight: 900;
  }

  .footer p.copy {
    margin: var(--gap-medium-15) 0;
  }

  .footer select {
    display: block;
    padding: 5px 6px;
    margin-bottom: var(--gap-small-up-10);
    border: none;
    outline: none;
    width: 100%;
    color: var(--color-dark-gray);
    font-family: var(--font-Noto-Sans);
    font-size: var(--font-size-small-up-12);
    background-color: black;
    letter-spacing: -0.3px;
  }

  .footer select option {
    color: var(--point-color-white);
    background-color: var(--point-color-light-black);
  }
}

/********************** media_query 769 *******************/
@media all and (min-width: 769px) {

  /********************** header *******************/
  header {
    position: relative;
    width: 1070px;
    height: 80px;
    margin: 0 auto;
  }

  .header .menu_btn_on {
    top: 28px;
    left: 0;
    font-size: 26px;
  }

  .header .title_logo {
    width: 158px;
    margin: 0 auto;
    padding-top: 24px;
  }

  .header .gnb {
    top: 30px;
    right: 0px;
  }

  .header .gnb>div {
    float: left;
    transition: all 0.2s;
  }

  .header .gnb>div a {
    display: block !important;
  }

  .header .gnb>div a:nth-child(1) {
    transform: translate(8px, -4px);
  }

  .header .gnb>div a:nth-child(2) {
    font-size: var(--font-size-small-up-12);
    letter-spacing: -0.8px;
  }

  .header .gnb>div:hover {
    color: rgb(220, 3, 3);
  }

  /********************** contents *******************/
  .contents {
    width: 1070px;
    padding: 0;
    margin: 0 auto;
  }


  /********************** contetns gamecontainer box *******************/
  .contents .box {
    width: 350px;
    margin-right: var(--gap-small-up-10);
  }

  .contents .box:nth-child(2n) {
    margin-right: var(--gap-small-up-10);
  }

  .contents .box:nth-child(3n) {
    margin-right: 0;
  }

  #list_btn02:checked~.game_container .box05,
  #list_btn02:checked~.game_container .box08,
  #list_btn02:checked~.game_container .box12,
  #list_btn02:checked~.game_container .box16,
  #list_btn06:checked~.game_container .box15,
  #list_btn07:checked~.game_container .box26 {
    margin-right: 0;
  }

  #list_btn02:checked~.game_container .box06,
  #list_btn02:checked~.game_container .box09,
  #list_btn02:checked~.game_container .box18,
  #list_btn03:checked~.game_container .box18,
  #list_btn06:checked~.game_container .box03 {
    margin-right: var(--gap-small-up-10);
  }

  /********************** contents box box_bottom left_logo*******************/
  .contents .box .box_bottom .left_logo {
    width: 50px;
    height: 50px;
    border-radius: 5px;
  }

  /********************** contents box box_bottom right_text*******************/
  .contents .box .box_bottom .right_text {
    margin-top: var(--gap-medium-15);
  }

  .contents .box .box_bottom .right_text p {
    font-size: var(--font-size-medium-14);
  }

  /********************** footer_ex  *******************/
  .footer_ex {
    background-color: var(--color-black);
  }

  /********************** footer  *******************/
  .footer {
    width: 1070px;
    margin: 0 auto;
    padding: 0;
    background-color: var(--color-black);
  }

  .footer_top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #232323;
  }

  .footer select {
    width: 180px;
    font-size: var(--font-size-medium-14);
    background-color: #000;
    margin: var(--gap-small-up-10) 0;
    color: var(--color-dark-gray);
    letter-spacing: -0.8px;
  }

  .footer_row {
    overflow: hidden;
  }

  .footer_row .hide {
    float: left;
  }

  .f_row01 {
    margin-top: var(--gap-large-20);
  }

  .f_row03 .hide {
    margin-bottom: var(--gap-large-20);
  }

  .f_row04 .hide {
    margin-bottom: 0;
  }

  .f_row01 .hide:first-child,
  .f_row03 .hide:first-child {
    margin-right: var(--gap-small-5);
  }

  .f_row04 {
    padding-bottom: 40px;
  }

  .footer p.hide_07 {
    display: block
  }

  .footer p,
  .footer ul {
    text-align: left;
    font-size: var(--font-size-small-up-12);
    margin-bottom: 6px;
  }

  .footer .footer_logo {
    font-size: var(--font-size-x-large-up-28);
    border: none;
    margin: var(--gap-small-up-10) 0;
    margin-bottom: 0;
  }

}